.dashboard {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
  }
  
  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  .navItems {
    list-style: none;
    display: flex;
    gap: 20px;
    font-weight: bold;
    font-size: 20px;
  }
  
  .navItems li {
    cursor: pointer;
  }
  
  .userGreeting {
    font-size: 20px;
    font-weight: bold;
  }
  
  .imageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .imageContainer img {
    margin-top: 30px;
    width: 90%;
    max-width: 5000px;
    height: 500px;
  }
  
  .featuresSection {
    width: 90%;
    max-width: 1200px;
    text-align: center;
    margin-top: 50px;
  }
  
  .featuresSection h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .featuresHighlight {
    color: #4CAF50;
  }
  
  .features {
    display: flex;
    justify-content: space-around;
    gap: 20px;
  }
  
  .featureCard {
    width: 30%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 8px;
  }
  
  .featureCard img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
  }
  
  .featureCard h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .featureCard p {
    font-size: 1rem;
    color: #777;
  }
  .footer {
    width: 100%;
    /* background-color: #4CAF50; */
    color: black;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    position: relative;
    bottom: 0;
  }
  
  .footer p {
    margin: 0;
    font-size: 1rem;
  }
  
  .socialLinks {
    margin-top: 10px;
  }
  
  .socialLinks a {
    color: black;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .socialLinks a:hover {
    text-decoration: underline;
  }
  